input {
  border: 0.1rem solid;
  border-radius: 0.2rem;
  font-size: 1rem;
  margin: 0.5rem;
  min-width: 10rem;
  padding: 0.5rem;
}

label 
	{
		color: darkblue;
        font-weight: bold;
        font-size: 1.1rem;
      	opacity: 0.9;
        top: 22px;
      	left: 20px;
}

input:required:valid {
  border-color: green;
}
input:invalid {
  border-color: red;
}
.content {
  max-width: 500px;
  margin: auto;
}

#write{
    color: darkblue;
    font-size: 1.1rem;
}
#invalid{
    color: red;
}
body{
    color: darkolivegreen;
}
form
{
  
}
input[type=submit]
{
 
  height: 45px;
  width: 280px;
  background-color: deepskyblue;
}
div
{
  text-align: center;
}
input[name="validate"]
{
  right: 20px;
}
.box
{
  text-align: center;
  position: relative;
  margin: 0 auto;
  width: 600px;
  padding: 20px;
  background-color: ghostwhite;
  border: 2px solid #777;
  vertical-align: middle;
  transform: translate(0, 20%);


  vertical-align: middle;
}
.heading
{
  margin: 0 auto;
  padding: 20px;
}
.verification
{
  border: 2px solid #777;
  margin: 0 auto;
  width: 670px;
  text-align: center;
  position: relative;
  vertical-align: middle;
  transform: translate(0, 70%);
  background-color: ghostwhite;
}
